<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html><html class=''>
<head><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/hugo/pen/twxno?depth=everything&limit=all&order=popularity&page=2&q=single+page&show_forks=false" />

<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'><link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link rel="stylesheet" type="text/css" href="/show_clubs.css">


</head>
<body>


  <%if @club.picture.attached?%>
      <%= image_tag @club.picture, alt: 'picture' ,:height => '300px',:width => '600px'%>
  <%else%>
    <p>=== Il n'y a pas encore de photos lié à cet club ===</p>
  <%end%>

  <% if current_user == @club.admin %>
    <h5>Changer de picture ?</h5>
      <%= form_tag club_pictures_path(@club.id), multipart: true do %>
      <%= file_field_tag :picture %>
      <%= submit_tag "mettre à jour" %>
    <% end %>
  <% end %>

<p id="notice"><%= notice %></p>




<div class="container">
  <div class="row">
    <div class="wrappe">
          <div class="menu">
              <i class="fas fa-bars"></i>
                <span>
                    <li>  <a href="#" id="<%= @club.id %>" class="envoi">creer recrutement</a></li>
                    <li> <a href="#" id="<%= @club.id %>" class="lasa">creer evenement</a></li>
                    <img src="https://seeklogo.com/images/F/flag-map-of-madagascar-logo-0244E18277-seeklogo.com.png" alt="Mada" draggable="false"/>

                </span>
            </div>
        </div>
  </div>
</div>






<div class="wrapper">

  

  </div>
  
  <div class="content">
    
    <div class="inner">
      <h1 class="display-5">Hello! vous etes sur le profil du club   <%= @club.name %> , de category:    <%= @club.category %></h1>
     
    </div>

      <div class="img trees">
        
      </div>
    <div class="inner">
     <h1 class="display-3 text-primary">Listes recrutement creer</h1>
        <p><% @club.recrutements.each do |recrutement| %></p>
        <p><%= link_to recrutement.content, recrutement %></p>
         <%end%>
    </div>

    </div>





    <div class="content">
    
    <div class="inner">
     <h1 class="display-3 text-primary">Les membres du club</h1>
     <% @club.members.each do |member|%>
<h3 align="center"><%= member.first_name%> <%= member.last_name%></h3> 
<% end %>

    </div>

      <div class="img two">
        
      </div>
    <div class="inner">
      <h1 class="display-3 text-primary">Les evenements du club</h1>
        <% @club.events.each do |event|%>
        <h3 align="center"><%= link_to "#{event.title}", event_path(event.id)%></h3>
        <% end %>
    </div>
    </div>

    <% if user_signed_in? && current_user.id === 'admin.id' %>
<a href="#" data-clubid ="<%=@club.id%>" data-quarterid="<%=@club.quarter_id%>" class="club_edit">Edit</a> |
<%= link_to 'Back', clubs_path %>
<% end %>
<br><br>
  
</div>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body></html>