<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/card.css">
</head>






     <% eve = [] %>
          <% rec = [] %>
          <% clu = [] %>
            <% @events.each do |event| %>
            <% eve << event %>
            <%end%>

            <% @recrutements.each do |recrutement| %>
            <% rec << recrutement %>
            <%end%>

            <% @clubs.each do |club| %>
            <% clu << club %>
            <%end%>




<body style="background-color: rgb(84,96,103);">
    <section>
        <% 5.times do |i| %>
        <div class="container">
            <div class="photo-card">
                <div class="photo-background" style="background-image:url(vendor/101.jpg);"></div>

                <div class="photo-details">
                    <div class="dropdown pull-right"><%= link_to "afficher", event_path(eve[(i+1)*(-1)].id), :class=>"btn btn-info" %></div>
                    <p><em>Evenement creer par: </em><strong class="a"><%= eve[(i+1)*(-1)].club.name %></strong></p>
                    <small><span>publié le <%= eve[(i+1)*(-1)].updated_at %></span></small>
                    <p><%= rec[(i+1)*(-1)].content%></p>
                    <p> date limite d'inscription: <strong><%= rec[(i+1)*(-1)].deadline%></strong></p>
                    <hr align="center" width="75%" color="#696969" size="3">
                    <p data-hook="write-comment__label" class="_24h-e">Commenter</p>

                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
<br>

<%end%>