<p id="notice"><%= notice %></p>

      <h1>Hello! vous etes sur le recrutement du club  <%= @recrutement.club.name %> </h1>
      <p><strong>Deadline:</strong>
  <%= @recrutement.deadline %></p>

<%= link_to 'Edit', edit_recrutement_path(@recrutement) %> |
<%= link_to 'Back', recrutements_path %>


  <br/>
<br/>
<br/>
        <h1>Listes des demandes</h1>
<% if @recrutement.club.admin.id == current_user.id%>
<% @recrutement.club.members.each do |member| %>
<% if member.id == current_user.id%>
    <a id="<%= @recrutement.id %>" href="#" role="button" >Postuler &raquo;</a>
<% end %>
<% end %>
<% end %>

 
        <p>pour acceder a la page d un demande clique sur son blue nom</p>
        </div>
      </div>
 <% @recrutement.requests.each do |request| %>
 <% if request.user.club == request.recrutement.club%>
 <%else%>

                <h3>Nom demandeur: <%= link_to "#{request.user.first_name}", user_path(request.user.id) %>    <%= request.user.last_name %> </h3>
                <h3> <%= link_to "Afficher", request_path(request.id) %> </h3>

           <p>Age: <%= request.user.age %></p>
            <% end %>
            <% end %>
